<div class="row teacher-course">

  <h1>Viewing <%= @course_data[:course_name] %>, <%= @course_data[:semester_term] %> </h1>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Student</th>
        <th scope="col">Grade</th>
      </tr>
    </thead>
    <tbody>
      
    </tbody>
</table>

</div>
