<div class="row teacher-dashboard">
  <%= render "shared/dashboard_welcome" %>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Course</th>
        <th scope="col">Semester</th>
      </tr>
    </thead>
    <tbody>
      <% @courses.each_with_index do |c, i| %>
        <tr>
          <th scope="row"><%= i += 1 %></th>
          <td><%= link_to c.course_name, teacher_course_path(c, semester: {semester_id: c.semester_id, semester_term: c.semester_term}) %></td>
          <td><%= c.semester_term %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>
