<div class="row teacher-dashboard">
  <%= render "shared/dashboard_welcome" %>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Course</th>
        <th scope="col">Semester</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">#</th>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>

</div>
